body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

header {
  background: #e50914;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 32px;
}

h2 {
  color: #ffcc00;
}

section {
  padding: 20px;
}

.movie {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  background: #222;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

button {
  background: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
