body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

header {
  background: #e50914;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 32px;
}

h2 {
  color: #ffcc00;
}

section {
  padding: 20px;
}

.movies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.movie {
  background: #222;
  padding: 10px;
  margin: 0;
  border-radius: 10px;
  box-sizing: border-box;
}

button {
  background: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
